*{
  background:linear-gradient(36deg, #f09, #3023AE, #0ff)
}

ion-toolbar{
  background-color: var(--ion-color-mycolor);
}
.btnG{
  border-radius: 20px;
  background-color: var(--ion-color-mycolor-shade);

  padding: 10px;
}
